<section id="add_article" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Add article</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                   <form role="form" action="{% url 'dictionary_home' %}" method="POST" class="navbar-form">
                        {% csrf_token %}
                        <div class="input-group">
                            {{ form.article }}
                            {{ form.definition }}
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>