{% extends 'dictionary/base.html' %}

{% block links %}
    <li>
        <a class="page-scroll" href="#add_article">Add article</a>
    </li>
    <li>
        <a class="page-scroll" href="#display">Dictionary</a>
    </li>
{% endblock %}

{% block dict %}
<!-- About Section -->
    <section id="display">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dictionary</h2>
                    <h3 class="section-subheading text-muted">Learn what Płoski meant</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1">
                  <table class='table table-hover'>
                    <thead>
                      <tr>
                        <th> Słowo </th>
                        <th> Definicja </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if articles %}
                        {% for article in articles %}
                        <tr>
                          <td> {{ article.article }} </td>
                          <td> {{ article.definition }} </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                      <tr>
                        <td colspan="2"> Brak danych </td>
                      </tr>
                      {% endif %}
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </section>
{% include 'dictionary/add_article.html' %}
{% endblock %}
