{% include 'fiszki/base.html' %}

{% block content %}
    <div class="container">
    <form role="form" action="{% url 'add_fiszka' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-7">
                <div class="control-label">
                    {{ form.name.label }}
                </div>
                {{ form.name }}
            </div>
            <div class="col-md-3 form-group">
                <div class="control-label">{{ form.cat.label }}</div>
                {{ form.cat }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="control-label">
                    {{ form.definition.label }}
                </div>
                {{ form.definition }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}